# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/gemma-4-E2B-it-web.task
public/gemma-4-E2B-it.litertlm
public/gemma3-1b-it-int4-web.task
public/gemma-3n-E2B-it-int4-Web.litertlm